<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <title>组件的v-model双向绑定</title>
</head>
<body>
    <div id="app">
      <font-size step="1" v-model="fontSize"></font-size>
      <font-size step="3" v-model="fontSize"></font-size>
      <p :style="{fontSize:fontSize+'px'}">Hello {{fontSize}}</p>
    </div>
</body>
<script>
    /**
     要点
     父组件通过v-model="属性"把属性传递给子组件
     子组件内有一个modelValue的Prop，接受父组件传递的数据。
     子组件通过触发 update:modelValue修改父组件绑定的属性
     */
    const app=Vue.createApp({
        data(){return{fontSize:16}}
    })
    app.component('font-size',{
        props:['modelValue','step'],
        template:`<div>
            fontSize:{{modelValue}}
            <button @click="$emit('update:modelValue',+step+modelValue)">+</button>
            <button @click="$emit('update:modelValue',modelValue-step)">-</button>
            </div>`,
        
    });
    app.mount('#app');
</script>
</html>